:root {
  background-color:  hsl(212, 45%, 89%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
span {
  font-family: Outfit;
  margin: 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  position: fixed;
  bottom: 5px;
  width: 100%;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container {
  background-color: hsl(0, 0%, 100%);
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 hsl(0, 0%, 0%, 0.1);
  padding: 10px;
}

.qr-code {
  display: block;
  height: 14rem;
  width: 14rem;
  margin: auto auto 20px auto;
  border-radius: 10px;
}

.heading-text {
  text-align: center;
  font-size: 1.063rem;
  font-weight: 700;
  width: 12.5rem;
  margin: auto auto 12px auto;
  color: hsl(218, 44%, 22%);
}

.description {
  text-align: center;
  font-size: .75rem;
  width: 12.5rem;
  color: hsl(216, 15%, 48%);
  margin: auto auto 20px auto;
}